@using Zorro.Dal.Models
@model List<ChatMessage>
<div class="center-block" style="display:flex;justify-content:center;">
    <div class="content-width">
        <div class="card">
            <h5 class="card-header">Chat</h5>
            <div class="card-body">
                <div class="row">&nbsp;</div>
                <div class="col">
                    <div class="list-group">

                     <select>
                        @foreach (var friend in @ViewBag.Friends)
                        {
                           <option>
                             <a asp-route-id="@friend" class="list-group-item list-group-item-action">@friend</a>
                            </option>
                        }
                </select>
                       
                    </div>
                </div>
                <dic class="col">
                    <div class="row top-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" value="@ViewBag.UserName" id="myUser" />
                        <input type="hidden" value="document.getElementById("friend").innerHTML" id="userInput" />
                      
                    </div>
                    <div class="row top-row">
                        <div class="col-2">Message</div>
                        <div class="col-4"><input type="text" id="messageInput" placeholder="input message" /></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-6">
                            <input type="button" class="btn btn-dark" id="sendButton" value="Send Message" />
                        </div>
                    </div>
                </dic>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul id="messagesList">
                    @foreach (var message in Model)
                    {
                        <li>From: @message.Sender.NormalizedEmail.ToLower() Message: @message.Message To:@message.Recipient  document.getElementById("friend").innerHTML.NormalizedEmail.ToLower()</li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


<style>
    .col-6 ul li {
        margin: 2vh;
        list-style: none;
        padding: 2vh;
        background-color: white;
        border: 0.5px solid white;
        border-radius: 10px;
    }

    .col-6 {
        margin-bottom: 10px;
    }

    .top-row {
        margin-bottom: 1vh;
    }

    #sendButton {
        background-color: #FF6A3D;
        border: none;
        padding: 1vh;
        color: #FFFFFF;
        transition: 0.5s all ease-in-out;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        height: 40px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

        #sendButton:hover {
            background-color: #1A2238
        }
</style>