@using Microsoft.AspNetCore.Identity
@using Zorro.Dal.Models
@using Zorro.WebApplication.ViewModels
@model UserAdminViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Portal</h1>

<button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create", "User")'">Create New User</button>

<hr class="my-3" />

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="consumers-tab" data-bs-toggle="tab" data-bs-target="#admins-list" type="button" role="tab">Users</button>
        <button class="nav-link" id="merchants-tab" data-bs-toggle="tab" data-bs-target="#merchants-list" type="button" role="tab">Merchants</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="admins-list" role="tabpanel">
        <table class="table table-sm table-bordered">
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Email</th>
                <th>User Locked Out</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Role</td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    @if (user.LockoutEnd == null || user.LockoutEnd < DateTime.UtcNow)
                        {
                            <td>No</td>
                        }
                        else
                        {
                            <td>Yes</td>
                        }
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">
                            Update
                        </a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="merchants-list" role="tabpanel">
        <table class="table table-sm table-bordered">
            <tr>
                <th>Id</th>
                <th>Business Name</th>
                <th>ABN</th>
                <th>Username</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            @foreach (var merchant in Model.Merchants)
            {
                <tr>
                    <td>@merchant.Id</td>
                    <td>@merchant.BusinessName</td>
                    <td>@merchant.Abn</td>
                    <td>@merchant.ApplicationUser.UserName</td>
                    <td class="text-center">@merchant.Status</td>
                    <td class="text-center">
                        <button class="d-inline btn btn-sm btn-primary" asp-controller="Merchant" asp-action="Update" asp-route-id="@merchant.Id">
                            Update
                        </button>
                        <form asp-action="Delete" asp-controller="Merchant" asp-route-id="@merchant.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                        @if (@merchant.Status == MerchantStatus.Pending)
                        {
                            @using (Html.BeginForm("Approve", "Merchant", FormMethod.Post, new { @class = "d-inline" }))
                            {
                                <input type="hidden" name="Id" value="@merchant.Id">
                                <button class="d-inline btn btn-sm btn-success">Approve</button>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
