@using Zorro.WebApplication.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = "Update";
}


<h1 class="text-black">Update User</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label for="User Role">User Role</label>
        <label for="cars">Role selection</label>
        <select asp-for="Role" class="form-select" id="role">
            @foreach (var role in @ViewBag.Roles)
            {
                if (string.Equals(@Model.Role, @role, @StringComparison.OrdinalIgnoreCase))
                {
                    <option selected value="@role">@role</option>
                }
                else
                {
                    <option value="@role">@role</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mobile"></label>
        <input asp-for="Mobile" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <label class="form-check-label">Admin access</label>
    <div class="form-check">
        <input asp-for="AdminAccessGranted" class="form-check-input" type="checkbox">
        <label class="form-check-label">Enable/Disable</label>
    </div>
    
    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>