@model Zorro.WebApplication.ViewModels.ShopDashboardViewModel

<div class="spacer"></div>
    <div class="center-block" style="display:flex;justify-content:center;" >
        <div class="content-width">

        <h1>Zorro Partners</h1>
        <h3>Browse and shop from our trusted vendor and pay for goods using your wallet!</h3>

        <hr class="my-3"/>

        <h4>Featured Stores</h4>

        <div class="row">
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[0].ShopID"><img src="~/images/Shop/Kmart-Transparent-Logo.png" style="width:100%; height:100%;"></a>
          </div>
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[1].ShopID"><img src="~/images/Shop/BigW-Transparent-Logo.png" style="width:100%; height:100%;"></a>
          </div>
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[2].ShopID"><img src="~/images/Shop/Woolworths-Transparent-Logo.png" style="width:100%; height:100%;"></a>
          </div>
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[3].ShopID"><img src="~/images/Shop/Coles-Transparent-Logo.png" style="width:100%; height:100%;"></a>
          </div>
        </div>

        <h4>Suggested Stores</h4>

        <div class="row">
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[4].ShopID"><img src="~/images/Shop/EBGames-Transparent-Logo.png" style="width:100%; height:70%;"></a>
          </div>
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[5].ShopID"><img src="~/images/Shop/JB Hi-Fi-Transparent-Logo.png" style="width:100%; height:100%;"></a>
          </div>
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[6].ShopID"><img src="~/images/Shop/McDonalds-Transparent-Logo.png" style="width:100%; height:80%;"></a>
          </div>
          <div class="column">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-id="@Model.Shops[7].ShopID"><img src="~/images/Shop/KFC-Transparent-Logo.png" style="width:100%; height:100%;"></a>
          </div>
        </div>

    </div>
</div>