@using Microsoft.AspNetCore.Identity
@using Zorro.Dal.Models
@model Zorro.WebApplication.ViewModels.DashboardViewModel
@inject UserManager<ApplicationUser> UserManager

<div class="spacer"></div>

<div class="center-block" style="display:flex;justify-content:center;">
    <div class="content-width">
        @*show ecommerce vendor sign up link*@
        @if (!await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Merchant"))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Are you an <strong>eCommerce merchant</strong>? Click <a asp-controller="Merchant" asp-action="Register" class="alert-link">here</a> to find out how Zorro can help you.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="inputbox">


            <h1>Dashboard</h1>

            <hr class="my-3" />

            <h2>Wallet</h2>

            <!-- Wallet details -->
            <ul class="list-group pb-3">

                <li class="list-group-item">
                    <label class="form-label" style="margin-top: .5rem;"><b>User ID:</b></label><span id="walletId">@Html.DisplayFor(model => model.WalletId)</span> <i role="button" id="copyButton" class="bi bi-clipboard"></i>
                </li>
                <li class="list-group-item">
                    <label class="form-label" style="margin-top: .5rem;"><b>Balance: </b>$</label>@Html.DisplayFor(model => model.Balance)
                </li>
            </ul>

            <!-- Payment buttons-->
            <div>
                <button type="button" class="p-2 btn btn-dark" style="margin-right: 5px;" onclick="location.href='@Url.Action("Transfer", "Payments")'">Transfer Funds</button>
                <button type="button" class="p-2 btn btn-dark" style="margin-right: 5px;" onclick="location.href='@Url.Action("Bpay", "Payments")'">BPAY</button>
                <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("CreateDeposit", "Payments")'">Deposit Funds</button>
                <!--chat link-->
                <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("","Chat")'">Chat</button>
                <button type="button" class="p-2 btn btn-dark" onclick="location.href='@Url.Action("Friending","Friending")'">Add Friend</button>

            </div>

            <hr class="my-3" />

            <h2>Recent Transactions</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RecentTransactions[0].Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RecentTransactions[0].Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RecentTransactions[0].Amount)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RecentTransactions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    const copyButton = document.getElementById("copyButton");

    copyButton.addEventListener("mouseover", function () {
        this.classList.add("bi-clipboard-check");
        this.classList.remove("bi-clipboard");
    }, false);

    copyButton.addEventListener("mouseleave", function () {
        this.classList.remove("bi-clipboard-check");
        this.classList.add("bi-clipboard");
    }, false);

    copyButton.addEventListener("click", copyWallet, false);

    function copyWallet() {
        var copyText = document.getElementById("walletId");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();

        this.classList.remove("bi-clipboard-check");
        this.classList.remove("bi-clipboard");
        this.classList.add("bi-clipboard-check-fill");
    }

</script>
}
